
<% if current_user %>
<div class="homebalance">
  <div>
    <h3>Balance: <%= current_user.balance %></h3>
  </div>
</div>
  <% @users.each do |user| %>
    <% if user.email != current_user.email %>
      <div class="sendcreditscont">
        <div class="useremail">
          <%= user.email %>
        </div>
        <div class="sendcredits">
          <%= form_for @transaction, url: {action: 'create'} do |f| %>
            <%= f.text_field :num_credits, placeholder: "Credits" %>
            <%= hidden_field_tag(:to_user_id, user.id) %>
            <%= f.submit "Send Credits" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
